<div class="container">
  <div class="left-button">
    <%= link_to "ユーザー一覧に戻る", users_path, class:"btn btn-info" %>
  </div>

  <% @entries.each do |e| %>
    <% unless e.user == current_user %>
    <h2><%= e.user.name %>さんとのチャットルーム</h2>
    <% end %>
  <% end %>

  <hr>
  <div class="chat">
    <div class="chats">
      <% if @messages.present? %>  <!--既に送付済みの @messagesが存在するならば、-->
        <% @messages.each do |m| %>  <!--@messagesを一つずつ取り出して、contentを表示させます。-->
          <% if m.user_id == current_user.id %>
              <div class="chat-fukidashi" style="text-align: right;">  <!--自分が送付したメッセージなら text-align: right; に、-->
                <strong><%= m.content %></strong>
              </div>
          <% else %>
              <div class="chat-fukidashi" style="text-align: left;">  <!--相手が送付したメッセージなら text-align: left; にします。-->
                <strong><%= m.content %></strong>
              </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="errors">
      <%= render "layouts/errors", obj: @message %>
    </div>

    <div class="posts">
      <!--非同期通信-->
      <%= form_with model: @message, local: false do |f| %>
        <%= f.text_field :content, placeholder: "140字以内でメッセージを入力してください", size: 70, class: "form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %>  <!--f.hidden_field を使って、room_idに @room.idを代入しています。-->
        <%= f.submit "投稿", class: "form-submit" %>
      <% end %>
    </div>
  </div>
</div>
